<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );

$this->headScript()->appendFile($this->baseUrl() .  "/includes/javascript/snep.js");

header("Expires: Mon, 26 Jul 1997 05:00:00 GMT");
header("Cache-Control: no-cache");
header("Pragma: no-cache");
header('Cache-Control: max-age=0' );
?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/simpleplayer.js" type="text/javascript"></script>
<div class="row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <div class="snep-body-top-buttons">
                <a class="btn btn-add" href="<?php echo $this->url ?>/add/ " role="button"><?php echo $this->translate("Add Sound File")?></a>
                <a class="btn btn-outline btn-add" href="<?php echo $this->url ?>/synchronize/ " role="button"><?php echo $this->translate("Synchronize archives")?></a>
                <div class="snep-body-search">
                    <?php if($this->key){ ?>
                        <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>"></a>
                        &nbsp;|&nbsp;
                    <?php } ?>
                    <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                </div>
            </div>
            <?php if ($this->error_message) {
                echo $this->action( 'sneperror', 'error', null, array( 'error_type' => 'alert',
            'error_title' => $this->translate('Alert'), 'error_message' => $this->error_message, 'error_buttons' => False) );
            } else { ?>

                <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber;?>">

                    <thead>
                        <tr>
                            <th > <?php echo $this->translate('Filename') ?> </th>
                            <th> <?php echo $this->translate('Description') ?> </th>
                            <th class="text-center" data-sort-ignore="true"> <?php echo $this->translate('File') ?> </th>
                            <th class="text-center" data-sort-ignore="true"> <?php echo $this->translate('Backup') ?> </th>
                            <th colspan="3" class="action text-center" data-sort-ignore="true"> <?php echo $this->translate('Actions') ?> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if ($this->files):
                            foreach ($this->files as $file): ?>
                                <tr>
                                    <td><b> <?php echo $file['arquivo'] ?> </b></td>
                                    <td> <?php echo $file['descricao'] ?> </td>
                                    <!-- Listen original file -->
                                    <td class="text-center sound-file-player" >
                                        <?php
                                        $fullpath = ( isset($file['fullpath']) ? $file['fullpath'] : false );
                                        if ($fullpath != '') : ?>
                                            <audio  class="player" src='<?php echo $fullpath;?>' type="audio/mpeg"  title="<?php echo $this->translate('Listen');?>" preload="none">
                                                <?php echo $this->translate('Your browser does not support the audio element.') ?>
                                            </audio>
                                        <?php else : ?>
                                            <span class="sn-sound-off snep-list-sounds"></span>
                                        <?php endif ?>
                                    </td>
                                    <!-- Listen backup file -->
                                    <td class="text-center sound-file-player">
                                        <?php
                                        $backuppath = ( isset($file['backuppath']) ? $file['backuppath'] : false );
                                        if ($backuppath != '') : ?>
                                            <audio class="player" src='<?php echo $backuppath;?>' type="audio/mpeg"  title="<?php echo $this->translate('Listen');?>">
                                                <?php echo $this->translate('Your browser does not support the audio element.') ?>
                                            </audio>
                                        <?php else : ?>
                                            <span class="sn-sound-off snep-list-sounds" title="<?php echo $this->translate('Backp not available');?>"></span>
                                        <?php endif ?>
                                    </td>
                                    <!-- Actions : Restore backup -->
                                    <td align="center">
                                        <?php
                                        if (isset($file['backuppath'])) : ?>
                                            <a class="btn btn-success btn-sm" href="<?php echo $this->url ?>/restore/arquivo/<?php echo $file['arquivo'] ?>" role="button" title="<?php echo $this->translate('Restore backup sound file');?>" >
                                                <?php echo $this->translate('Restore')?>
                                            </a>
                                        <?php else : ?>
                                            <span class="sn-no-backup snep-list-sounds" title="<?php echo $this->translate('No files to restore');?>"></span>
                                        <?php endif ?>
                                        <a class="btn btn-edit btn-sm"  href="<?php echo $this->url ?>/edit/arquivo/<?php echo $file['arquivo'] ?>" role="button">
                                            <?php echo $this->translate('Edit')?>
                                        </a>
                                        <a class="btn btn-danger btn-sm"  role="button" href="<?php echo $this->url ?>/remove/arquivo/<?php echo $file['arquivo'] ?>">
                                            <?php echo $this->translate('Delete') ?>
                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach ?>
                        <?php endif ?>
                    </tbody>
                    <tfoot>
                        <tr>

                            <td colspan="7">
                                <div class="paging">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <?php }?>
            <br>
        </div> <!-- demo -->
    </div> <!-- tab-content -->
</div> <!-- /.row -->

<script type="text/javascript">
jQuery.noConflict();
jQuery(function () {
    jQuery('table').footable().on('click', '.row', function(e) {
        e.preventDefault();
    });
});

jQuery(document).ready(function() {
    var settings = {
        progressbarWidth: '60px',
        progressbarHeight: '5px',
        progressbarColor: '#959595',
        progressbarBGColor: '#ebecee',
        defaultVolume: 0.8
    };
    jQuery(".player").player(settings);
});
</script>



